center {

    align-items: center;

}
article{

    
}


#img1 {
    height: 400px;
}

#img2 {
    height: 400px;
}

#img3 {
    height: 400px;
}

h2{
    text-align: left;
    color: red;
    ;

}

a{
    float:none;
}

P{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: hotpink;
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: darkgreen;
  }