center {

    align-items: center;

}
article{

    background-color: rgb(250, 230, 171);
}

#img1 {
    height: 400px;
}

#img2 {
    height: 400px;
}


h2{
    text-align: left;
    color: red;
    ;

}

a{
    float:none;
}

P{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}